:root {
  .primary-input {
    background-color: #4C4C4C !important;
    color: white !important;
    font-family: "Poppins" !important;
    border-radius: 10px !important;
  }

  .secondary-input {
    background-color: #FFFFFF !important;
    color: black !important;
    height: 65px !important;
    border-color: #b6b6b6 !important;
    font-family: "Poppins" !important;
    border-radius: 8px !important;
  }

  .secondary-text-area {
    background-color: #FFFFFF !important;
    color: black !important;
    border-color: #b6b6b6 !important;
    font-family: "Poppins" !important;
    border-radius: 8px !important;
  }
}
