<section class="w-full flex flex-col items-center">
  <header class="flex justify-start w-full">
    <div class="flex items-center gap-1">
      <div class="size-2 bg-[#FF4B28]"></div>
      <span class="text-sm font-semibold">{{ 'About Us' | translate }}</span>
    </div>
  </header>

  <h2 class="text-[40px] max-w-[700px] text-center font-semibold mb-16">
    {{ 'Shaped by Real Web Projects, Real Constraints, and Real Business Expectations' | translate }}<span class="text-[#FF4B28]">.</span>
  </h2>

  <div class="flex justify-between gap-[50px]">
    <figure class="hidden lg:block">
      <img
        src="/assets/images/about-us/about-company-cover-550.webp"
        srcset="/assets/images/about-us/about-company-cover-550.webp 550w, /assets/images/about-us/about-company-cover-800.webp 800w, /assets/images/about-us/about-company-cover-1100.webp 1100w, /assets/images/about-us/about-company-cover-1600.webp 1600w"
        sizes="550px"
        class="w-[550px] rounded-[20px]"
        alt="{{ 'Black IT company team and office' | translate }}"
        loading="lazy"
        decoding="async"
      >
    </figure>

    <section class="flex-1 grid grid-cols-1 lg:grid-cols-2 gap-20">
      @for (info of aboutCompanyInfoCards; track info.title) {
        <app-about-company-info-card
          [info]="info"
        />
      }
    </section>
  </div>
</section>
