<section class="w-full flex flex-col items-center">
  <header class="flex justify-start w-full">
    <div class="flex items-center gap-1">
      <div class="size-2 bg-[#FF4B28]"></div>
      <span class="text-sm font-semibold uppercase">{{ 'Values' | translate }}</span>
    </div>
  </header>

  <h2 class="text-[40px] text-center font-semibold">
    {{ 'The Principles We Don’t Compromise On' | translate }}<span class="text-[#FF4B28]">.</span>
  </h2>

  <div class="flex flex-col lg:flex-row gap-10 mt-10 h-auto lg:h-72">
    <article class="relative lg:flex-[42%] h-[400px] lg:h-auto bg-[#E63D1F] px-[40px] pb-5 flex flex-col justify-end rounded-[24px] text-white overflow-hidden">
      <h3 class="text-4xl font-[500] mb-4 z-20">
        {{ 'Clarity Over Cleverness' | translate }}
      </h3>
      <p class="font-medium z-20">
        {{ `If users have to pause, think, or guess, we’ve failed. Our work prioritises understanding, flow, and friction free experiences over flashy visuals.` | translate }}
      </p>

      <img
        class="absolute bottom-0 left-1/6 w-[350px] z-10"
        src="/assets/icons/about-us/top-chart-350.webp"
        srcset="/assets/icons/about-us/top-chart-350.webp 350w, /assets/icons/about-us/top-chart-450.webp 450w, /assets/icons/about-us/top-chart-700.webp 700w"
        sizes="350px"
        alt=""
        role="presentation"
      >

      <img class="absolute top-4 left-20 lg:-left-80" src="/assets/icons/shared/dotted-Vector.svg" alt="" role="presentation">
    </article>

    <article class="relative lg:flex-[58%] h-[400px] lg:h-auto bg-[#8E8E8E] px-[40px] pb-10 flex flex-col justify-end rounded-[24px] text-white overflow-hidden">
      <h3 class="text-4xl font-[500] mb-4 z-20">
        {{ 'Honest Work, Honest Timelines' | translate }}
      </h3>
      <p class="max-w-[500px] z-20">
        {{ `We don’t oversell, underquote, or disappear mid project. Expectations are clear, communication stays open, and delivery matches what was promised.` | translate }}
      </p>

      <img
        class="absolute bottom-0 left-1/6 w-[500px] z-10"
        src="/assets/images/about-us/about-team-cover-500.webp"
        srcset="/assets/images/about-us/about-team-cover-500.webp 500w, /assets/images/about-us/about-team-cover-640.webp 640w, /assets/images/about-us/about-team-cover-1000.webp 1000w"
        sizes="500px"
        alt=""
        role="presentation"
      >

      <img class="absolute top-4 -left-20 lg:-left-80" src="/assets/icons/shared/dotted-Vector.svg" alt="" role="presentation">
      <img class="absolute bottom-0 -right-15 lg:-right-30" src="/assets/icons/shared/dotted-Vecot-bottom.svg" alt="" role="presentation">
    </article>
  </div>

  <article class="w-full relative overflow-hidden bg-[#F7F7F7] mt-10 py-14 px-10 lg:px-20 rounded-[24px]">
    <h3 class="text-4xl font-[600] mb-4">{{ 'Built for Use, Not Applause' | translate }}</h3>
    <p class="relative text-[#5A4F44] z-10 max-w-[650px]">{{ 'Design isn’t for awards or ego. Every choice is judged by how well it helps real people take action confidently.' | translate }}</p>

    <img class="absolute -bottom-1 z-1 -right-31 opacity-50 lg:opacity-100" src="/assets/icons/shared/dotted-Vector-orange.svg" alt="" role="presentation">
  </article>
</section>
