@use "../public/assets/fonts/index.fonts.scss";
@use "../public/assets/custom-styles/styles.index.scss";

@use "tailwindcss/theme";
@use "tailwindcss/preflight"; // Replaces 'base'
@use "tailwindcss/utilities";

@import "primeicons/primeicons.css";

@font-face {
  font-family: 'primeicons';
  font-display: swap;
  src: url('primeicons/fonts/primeicons.eot');
  src: url('primeicons/fonts/primeicons.eot?#iefix') format('embedded-opentype'),
    url('primeicons/fonts/primeicons.woff2') format('woff2'),
    url('primeicons/fonts/primeicons.woff') format('woff'),
    url('primeicons/fonts/primeicons.ttf') format('truetype'),
    url('primeicons/fonts/primeicons.svg?#primeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  font-family: "Poppins";
}
